@import 'https://fonts.googleapis.com/css?family=Antic+Didone|Montserrat:700';


$white: #fff;

:root {
  margin: 0;
  padding: 0;
  font: {
    family: 'Antic Didone';
    size: 13px;
  }
}

@media screen and (min-width: 760px) {
  :root {
    font-size: 15px;
  }

}

@media screen and (min-width: 820px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 900px) {
  :root {
    font-size: 17px;
  }
}

@media screen and (min-width: 980px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1060px) {
  :root {
    font-size: 19px;
  }
}

@media screen and (min-width: 1220px) {
  :root {
    font-size: 20px;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    font-size: 22px;
  }
}


html,
body,
#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  animation: fadeIn 500ms ease-in-out forwards;
}



#mobile-nav > li:nth-child(1) > a {
  &:hover {
    background-color:rgba(0, 0, 0, 0);
  }
}
#mobile-nav > li:nth-child(2) > a {
  &:hover {
    background-color:rgba(0, 0, 0, 0);
  }
}


.selectors {
  position: absolute;
  top: 0;
  left: 290px;
  width: 30px;
  background: rgba(0, 0, 0, 0);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  @media screen and (max-width: 993px) {
    display: none;
  }

  .selector {
    border: 1px solid #898989;
    border-radius: 50%;
    background: none;
    width: 25px;
    height: 25px;
    margin: 10px 0;
    opacity: 0.6;
    cursor: pointer;
    transition: background .3s ease-in-out, opacity .3s ease-in-out;

    &:hover,
    &.active {
      background: #898989;
      opacity: 0.9;
    }
  }
}

div.verticalCarousel {
  margin-left: 260px;
  @media screen and (max-width: 993px) {
    margin-left: 0px;
  }
}

div.largeImage {
  @media screen and (max-width: 1100px) {
    display: none
  }
}

div.smallImage {
  @media screen and (min-width: 1100px) {
    display: none
  }
}

div.aboutMe {
  margin-left: 260px;
  @media screen and (max-width: 993px) {
    margin-left: 0px;
  }
}

div.experience {
  margin-left: 260px;
  @media screen and (max-width: 993px) {
    margin-left: 0px;
  }
}

nav.navbarItem {
  @media screen and (min-width: 993px) {
    display: none;
  }
}

section.wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  transition: background-image 500ms ease-in-out;
  background-position: top;
}

aside.panel1 {
  button.panel-button {
    display: none;
  }
}

aside.panel2 {
  button.panel-button {
    display: none;
  }
}

aside.panel {
  text-align: center;
  width: 40vw;
  height: 100%;
  opacity: 0.9;
  color: $white;
  box-shadow: 5px 0 25px 0 rgba(0, 0, 0, 0.3);
  transition: background 500ms ease-in-out;
  @media screen and (max-width: 993px) {
    width: 100%;
  }

  h2.panel-header,
  p.panel-info {
    margin: 0;
    white-space: pre-line;
    padding: 1rem 1rem;
  }

  h2.panel-header {
    padding-top: 4em;
    font: {
      weight: normal;
      size: 2.5rem;
    }
    text-transform: capitalize;
  }

  p.panel-info {
    font: {
      size: 1.2rem;
    }
    line-height: 1.8em;
  }

  button.panel-button {
    margin: 1.3rem 3.5rem;
    padding: 0.8em 1.3em;
    background: none;
    border: 1px solid $white;
    color: $white;
    cursor: pointer;
    font: {
      family: 'Montserrat';
      size: 0.8rem;
      weight: 700;
    }
    text-transform: uppercase;
    transition: box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;

    &:hover {
      box-shadow: inset 0 0 1.5em 1.5em $white;
    }

    &:focus {
      outline: none;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}